body{
    background-image: url(img/bookpic.jpg);
}
h1{
    text-align: center;
    font-size: 100px;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
   
}
p{
    text-align: center;
    font-size: 50px;
    color: yellowgreen;
}
a{
    margin-left: 850px;
    font-size: 50px;
    
}
a:link{
    color: teal;
}
a:visited{
    color: yellow;
}