@font-face {
    font-family: 'interceptor';
    src: url('ChargerSportExtObl.ttf');
}
body{
    background-color:rgb(31, 35, 235);
    margin:  24px 36px 72px 36px ;
	padding:  0px;
	text-align:  left;
	font-size:  12px;
	color:  #FFF;
    
}
h2{
	text-align:  center;
	font-size:  24px;
    }
.keret{
  
    border: 5px dotted crimson;
   
}
.left{
    float: left;
}
.right{
    float: right;
    ;
}
img{
	width:  180px;
	height:  180px;
	border-radius:  8px;
	box-shadow:  8px 8px 4px #1118;
    }

     p{
	margin-left:  220px;
	text-align:  justify;
    }
h2{
    text-align:  center;
    font-size:  24px;
}
.szöveg2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    padding-right: 250px;
}  
.szöveg21{
    font-size: 25px;
    padding-right: 250px;
    font-family: 'interceptor';
}
.szöveg22{
    font-size: 25px;
    padding-right: 250px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.szöveg3{
    font-size: 25px;
    padding-right: 250px;
    font-family::'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}